@import "home/linksyyy/.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    background-image: none;
    transition: 200ms;
}

window {
    background-color: transparent;
    border-radius: 10px;
}

#input {
    background-color: @color1;
    color: #E0E0E0;
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#input:focus {
    border: 1px solid #482880;
}

#inner-box {
    background-color: #121212;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#outer-box {
    background-color: #121212;
    border-radius: 10px;
    margin: 10px;
}

#scroll {
    background-color: #121212;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#entry {
    padding: 10px;
    border-radius: 10px;
}

#entry:selected {
    background-color: #482880;
}

#text {
    color: #E0E0E0;
}

#text:selected {
    color: #E0E0E0;
}
